body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: linear-gradient(to right, #1e3c72, #2a5298);
	box-sizing: border-box;
	color: #786450;
	font-family: Helvetica, Arial, sans-serif;
}
.box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: 400px;
	border-radius: 5px;
	background: #fdc830;
	background: linear-gradient(to right, #fdc830, #f37335);
}

.about-me {
	display: flex;
	justify-content: space-between;
	width: 320px;
	height: 300px;
	overflow: hidden;
	background-color: #f5e8df;
}

.social-number {
	display: flex;
	flex-flow: column;
	text-align: center;
}
.social:nth-child(even) {
	margin: 1px 0px;
}
.social-number p {
	font-size: 1.2rem;
	font-weight: 600;
	margin: 0;
}
.social {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 130px;
	height: 100px;
	background-color: rgba(120, 100, 80, 0.2);
	transition: background-color 0.55s;
}
.social:hover {
	background-color: rgba(120, 100, 80, 0.4);
}
small {
	font-size: 0.7rem;
	font-weight: lighter;
}

.bio {
	display: flex;
	flex-flow: column;
	flex-grow: 2;
	align-items: center;
	justify-content: space-evenly;
	text-align: center;
}
.image {
	position: relative;
	z-index: 10;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: #44392ec0;
	cursor: pointer;
}
.circle1,
.circle2 {
	position: absolute;
	border-radius: 50%;
	border-width: 1px;
	border-style: solid;
	transition: transform 1.5s ease-in-out;
	left: -3.5px;
	top: -3.5px;
	width: 75px;
	height: 75px;
	border-color: #44392e #44392e #44392e transparent;
}
.circle2 {
	left: -8.5px;
	top: -8.5px;
	width: 85px;
	height: 85px;
	border-color: #44392e transparent #44392e #44392e;
}
.image:hover .circle1 {
	transform: rotate(360deg);
}
.image:hover .circle2 {
	transform: rotate(-360deg);
}

.social-btn a {
	border: 1px solid #44392e;
	padding: 7px 25px;
	border-radius: 15px;
	margin-bottom: 10px;
	font-size: 0.75rem;
	font-weight: bold;
	text-decoration: none;
	color: #44392e;
	display: block;
	transition: background-color 0.45s;
}

.social-btn a:hover {
	background-color: #44392ed3;
	color: #f5e8df;
}
